{% block body %}
<style>
    .headwrapper {
        top: 0;
        left: 0;
        position:sticky;

        width: 100%;
        height:5em;
        background: black;
        color:white;

        display:flex; 
        align-items:center;
        flex-direction:row;
        justify-content: right;
        }

        .link {
            margin-left:20px;
            margin-right:20px;
        }
</style>

<div class="headwrapper">
    <a class="link" href={{ path('app_home') }}>Home</a>
    <a class="link" href={{ path('app_cv') }}>CV</a>


    {% if app.user %}
        <a class="link" href={{ path('app_logout') }}>Logout</a>
    {% else %}
        <a class="link" href={{ path('app_login') }}>Login</a>
    {% endif %}
<!--
    <a class="link" href={{ path('app_register') }}>Register</a>
    <a class="link" href={{ path('app_forgot_password_request') }}>Reset Password</a>
    <a class="link" >Users</a>
    <a class="link" >Dasboard</a>
-->
</div>

{% endblock %}
